app/build/intermediates/
BeeLeLibrary/build/
app/build/tmp/compileAndroid-jniX86_64DebugSharedLibraryAndroid-jniMainCpp/options.txt
app/build/tmp/
app/build/generated/
local.properties
.gradle/
.idea/
BeeLeLibrary/BeeLeLibrary.iml
ECG_DemoApp.iml
app/app.iml
app/build/outputs/apk/app-debug-unaligned.apk
app/build/outputs/apk/app-debug.apk
app/build/outputs/logs/manifest-merger-debug-report.txt
build/generated/mockable-android-23.jar
build/intermediates/dex-cache/cache.xml
.idea/
app/.externalNativeBuild/
.gradle/4.1/fileChanges/last-build.bin
.gradle/4.1/
.gradle/buildOutputCleanup/
build/android-profile/
build/
app/gradleBuild/
